{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distroRequires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux8"/>
  {% if VARIABLES.rhel8_distro_name %}
    <distro_name op="=" value="{{ VARIABLES.rhel8_distro_name }}"/>
  {% else %}
    <distro_tag op="=" value="RTT_PASSED"/>
  {% endif %}
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
  <ks_append><![CDATA[
%post
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
baseurl={{ VARIABLES.rhel8_buildroot_baseurl_prefix }}/{{ ARCH }}/os/
enabled=1
gpgcheck=0
EOF
# Add Advanced VIRT repo, required for virt tests
cat >/etc/yum.repos.d/rhel8-advvirt.repo <<EOF
[rhel8-advvirt]
name=rhel8-advvirt
baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/ADVANCED-VIRT-8/latest-ADVANCED-VIRT-8.2.0-RHEL-8/compose/Advanced-virt/$(uname -i)/os/
enabled=0
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{{- common.job(distroRequires=distroRequires,
               ks_append=ks_append) -}}
